<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
        akka {
            loglevel = DEBUG
            loggers = [ "Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog" ]

            actor { 
                provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
                ask-timeout = 3s
                debug.receive = off
                debug.autoreceive = off
                debug.lifecycle = off
                debug.event-stream = off
                debug.unhandled = off
                debug.fsm = off
                debug.router-misconfiguration = off
            }

            remote{
                helios.tcp.hostname = "127.0.0.1"
            
                log-received-messages = off
                log-sent-messages = off
                log-remote-lifecycle-events = off
            }

            cluster{
                auto-down-unreachable-after = 5s
                sharding.snapshot-after = 10
            }

            persistence {
                journal {
				          #plugin = "cassandra-journal"
                  #plugin = "akka.persistence.journal.sql-server"
                  sql-server {
                    connection-string = "Data Source=.\\sqlexpress;Initial Catalog=sharding_bugs;Integrated Security=True;Pooling=False"
                    auto-initialize = true
                  }
                }
                
                snapshot-store {
				          #plugin = "cassandra-snapshot-store"
                  #plugin = "akka.persistence.snapshot-store.sql-server"
                  sql-server {
                    connection-string = "Data Source=.\\sqlexpress;Initial Catalog=sharding_bugs;Integrated Security=True;Pooling=False"
                    auto-initialize = true
                  }
                }
            }
        }        
        
        cassandra-sessions {
	        default {
		        contact-points = [ "192.168.1.22", "192.168.1.72", "192.168.1.82" ]
		        port = 9042
	        }
        }

        cassandra-journal {
	        class = "Akka.Persistence.Cassandra.Journal.CassandraJournal, Akka.Persistence.Cassandra"
	        session-key = "default"
	        use-quoted-identifiers = false
	        keyspace = "sharding_bugs"
	        keyspace-creation-options = "REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"
            #keyspace-creation-options = "REPLICATION = { 'class' : 'NetworkTopologyStrategy', 'DC1' : 3 }"
	        keyspace-autocreate = true
	        table = "events_by_persistence_id"
	        table-creation-properties = ""
	        partition-size = 5000000
	        max-result-size = 50001
	        read-consistency = "Quorum"
	        write-consistency = "Quorum"
        }

        cassandra-snapshot-store {
	        class = "Akka.Persistence.Cassandra.Snapshot.CassandraSnapshotStore, Akka.Persistence.Cassandra"
	        session-key = "default"
	        use-quoted-identifiers = false
	        keyspace = "sharding_bugs"
	        keyspace-creation-options = "REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"
            #keyspace-creation-options = "REPLICATION = { 'class' : 'NetworkTopologyStrategy', 'DC1' : 3 }"
	        keyspace-autocreate = true
	        table = "snapshots_by_persistence_id"
	        table-creation-properties = ""
	        max-metadata-result-size = 10
	        read-consistency = "One"
	        write-consistency = "One"
        }
      
      ]]>
    </hocon>
  </akka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.37.0" newVersion="1.1.37.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>